*{
    font-family: 'Montserrat', sans-serif;
    margin:0; 
    padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
 }

 html{
   overflow-x: hidden;
 }

.container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
}

.container .content{
   text-align: center;
}

.container .content h3{
   font-size: 30px;
   color:#333;
}

.container .content h3 span{
   background: #2F751D;
   color:#fff;
   border-radius: 5px;
   padding:0 15px;
}

.container .content h1{
   font-size: 50px;
   color:#333;
}

.container .content h1 span{
   color:#2F751D;
}

.container .content p{
   font-size: 25px;
   margin-bottom: 20px;
}

.container .content .btn{
   display: inline-block;
   padding:10px 30px;
   font-size: 20px;
   background: #333;
   color:#fff;
   margin:0 5px;
   text-transform: capitalize;
}

.container .content .btn:hover{
   background: #2F751D;
}

.form-container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
   background: #eee;
}

.form-container img {
   width: 100%;
   height: 100px;
}

.form-container form{
   padding:20px;
   border-radius: 5px;
   box-shadow: 0 5px 10px rgba(0,0,0,.1);
   background: #fff;
   text-align: center;
   width: 500px;
}

.form-container form h3{
   font-size: 30px;
   text-transform: uppercase;
   margin-bottom: 10px;
   color:#333;
}

.form-container form input,
.form-container form select{
   width: 100%;
   padding:10px 15px;
   font-size: 17px;
   margin:8px 0;
   background: #eee;
   border-radius: 5px;
}

.form-container form select option{
   background: #fff;
}

.form-container form .form-btn{
   background: #E8F9E4;
   color: #2F751D;
   text-transform: capitalize;
   font-size: 20px;
   cursor: pointer;
}

.form-container form .form-btn:hover{
   background: #2F751D;
   color:#fff;
}

.form-container form p{
   margin-top: 10px;
   font-size: 20px;
   color:#333;
}

.form-container form p a{
   color: #2F751D;
}

.form-container form .error-msg{
   margin:10px 0;
   display: block;
   background: crimson;
   color:#fff;
   border-radius: 5px;
   font-size: 20px;
   padding:10px;
}

.nav-buttons{
   margin-left: 35%;
}


.navbar{
   font-size: 16px;
   padding-top: 2rem !important;
   padding-bottom: 2rem !important;
   top: 0;
   left: 0;
   box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

.navbar .container-fluid img{
   max-width: 100%;
}

.navbar-white .navbar-nav .nav-link{
   padding: 0 20px;
   color: black;
   transition: 0.4s ease;  
}

.navbar-white .navbar-nav .nav-link:hover,
.navbar i:hover, 
.navbar-white .navbar-nav .nav-link.active
.navbar i:hover{
   color: #2F751D;
}

.navbar-white .navbar-nav a{
   color: black;
}

.navbar-white .navbar-nav span{
   padding: .45rem .35rem;
   border-radius: .5rem;
   background-color: #2F751D;
   color: white;
   font-size: 1rem;
}

.navbar i {
   font-size: 1.2rem;
   padding: 0 0.7px;
   transition: 0.4s ease;
   cursor: pointer;
   margin-left: 5px;
   margin-right: 15px;
}

@media only screen and (max-width:990px) {

   .nav-buttons{
      margin: 10px;
   }

   .nav-buttons ul{
      margin: 1rem;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;
   }

   .nav-buttons .fas{
      margin: 20px 5px 10px 20px;
   }
}

.img-responsive {
   max-height: 30px;
   max-width: 10px;
   margin-left: 50%;
}

.navbar .icon{
   margin-left: 55%;
}

footer {
	background: #101010;
	padding: 86px;
}
.single-content {
	text-align: center;
	padding: 115px 0;
}
.single-box p {
	color: #fff;
	line-height: 1.9;
}
.single-box h3 {
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}
.single-box .card-area i {
	color: #ffffff;
	font-size: 20px;
	margin-right: 10px;
}
.single-box ul {
	list-style: none;
	padding: 0;
}
.single-box ul li a {
	text-decoration: none;
	color: #fff;
	line-height: 2.5;
	font-weight: 100;
}
.single-box h2 {
	color: #fff;
	font-size: 20px;
	font-weight: 700;
}
#basic-addon2 {
	background: #fe1e4f;
	color: #fff;
}
.socials i {
	font-size: 18px;
	margin-right: 15px;
}

.socials a{
   color: white;
}

.socials a .fb:hover{
   color: #3b5998;
   transition: 0.4s ease;
}

.socials a .twt:hover{
   color: #00acee;
   transition: 0.4s ease;
}

.socials a .ig:hover{
   background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
   transition: 0.4s ease;
}

.socials a .yt:hover{
   color: #c4302b;
   transition: 0.4s ease;
}

@media (max-width: 767px) {
	.single-box {
		margin-bottom: 50px;
	}

   .navbar-toggler {
      margin-right: 5%;
   }

   .product-table{
      overflow-x: scroll;
   }

   .product-table table{
      width: 70rem;
   }

   .products .box-container{
      grid-template-columns: 1fr;
   }

   footer{
      width: 105.5vw;
   }
}
@media (min-width: 768px) and (max-width: 991px) {
	.single-box {
		margin-bottom: 50px;
	}
}

.first{
   padding-left: 5%;
}

.second {
   padding-left: 7.5%;
}

.second a:hover{
   color: #2F751D;
   transition: 0.4s ease;
}

.third {
   padding-left: 7.5%;
}

.third a:hover{
   color: #2F751D;
   transition: 0.4s ease;
}

.fourth{
   padding-left: 7.5%;
}

.menu-container{
   max-width: 1700px;
   margin:0 auto;
   align-items: center;
   justify-content: center;
   padding-bottom: 60px;
}

.heading{
   text-align: center;
   font-size: 3.5rem;
   text-transform: uppercase;
   color: #333;
   margin-top: 7.5rem;
   margin-bottom: 2rem;
}

section {
   padding: 2rem;
}

.btn,
.option-btn,
.delete-btn{
   display: block;
   width: 100%;
   text-align: center;
   background-color: #2F751D;
   color: white;
   font-size: 1.7rem;
   padding: 1.2rem 3rem;
   border-radius: .5rem;
   cursor: pointer;
   margin-top: 1rem;
}

.btn:hover,
.option-btn:hover,
.delete-btn:hover{
   background-color: #508143;
   color: white;
}

.option-btn{
   background-color: #2F751D;
}

.delete-btn{
   margin-top: 0;
   background-color: #c4302b;
}

.option-btn:hover,
.delete-btn:hover{
   background-color: #333;
}

.option-btn i,
.delete-btn i{
   padding-right: .5rem;
}

.product-container a{
   text-decoration: none;
}

.message{
   background-color: #2F751D;
   position: sticky;
   top: 0; left: 0;
   z-index: 10000;
   border-radius: .5rem;
   background-color: white;
   padding: 1.5rem 2rem;
   margin: 0 auto;
   max-width: 1200px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 1.5rem;
}

.message span{
   font-size: 2rem;
   color: black;
}

.message i{
   font-size: 2.5rem;
   color: black;
   cursor: pointer;
}

.message i:hover{
   color: #c4302b;
}

.add-product-form{
   max-width: 50rem;
   background-color: #e9e9e9;
   border-radius: .5rem;
   padding: 2rem;
   margin: 0 auto;
   margin-top: 2rem;
}

.add-product-form h3{
   font-size: 2.5rem;
   margin-bottom: 1rem;
   color: black;
   text-transform: uppercase;
   text-align: center;
}

.add-product-form .box{
   text-transform: none;
   padding: 1.2rem 1.4rem;
   font-size: 1.7rem;
   color: black;
   border-radius: .5rem;
   background-color: white;
   margin: 1rem 0;
   width: 100%;
}

.product-container{
   max-width: 1500px;
   margin: 0 auto;
}

.product-table table{
   width: 100%;
   text-align: center;
}

.product-table table thead th{
   padding: 1.5rem;
   font-size: 2rem;
   background-color: #333;
   color: white;
}

.product-table table td{
   padding: 1.5rem;
   font-size: 2rem;
   color: #333;
}

.product-table table td:first-child{
   padding: 0;
}

.product-table table tr:nth-child(even){
   background-color: #ebebeb;
}

.product-table .empty {
   margin-bottom: 2rem;
   text-align: center;
   background-color: #ebebeb;
   color: #333;
   font-size: 2rem;
   padding: 1.5rem;
}

.edit-form-container{
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1100;
   background-color: rgba(0,0,0,.7);
   padding: 2rem;
   display: none;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   width: 100%;
}

.edit-form-container form{
   width: 50rem;
   border-radius: .5rem;
   background-color: #fff;
   text-align: center;
   padding: 2rem;
}

.edit-form-container form .box{
   width: 100%;
   background-color: #eee;
   border-radius: .5rem;
   margin: 1rem 0;
   font-size: 1.7rem;
   color: #333;
   padding: 1.2rem 1.4rem;
   text-transform: none;
}

.products .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 33rem);
   gap: 1.5rem;
   justify-content: center;
}

.products .box-container .box{
   text-align: center;
   padding: 2rem;
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
   border: .1rem solid #999;
   border-radius: .5rem;
}

.products .box-container .box h3{
   font-weight: bolder;
}

 .products .box-container .box img{
   height: 20rem;
   max-width: 100%;
} 

.products .box-container .box h3{
   margin: 1rem 0;
   font-size: 2.5rem;
   color: #333;
}

.products .box-container .box .price{
   font-size: 2.5rem;
   color: #333;
}