*{
    font-family: 'Montserrat', sans-serif;
    margin:0; 
    padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
 }

 html{
   overflow-x: hidden;
 }

/* about us*/
.about-container{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background: linear-gradient(#f2e9e4, #f2e9e4 50%, #386641 50%, #386641 100%);
}

.group{
   width: 1100px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   padding-top: 5%;
}

.group .box{
   position: relative;
   width: 320px;
   background: #fff;
   padding: 100px 40px 60px;
   box-shadow: 0 15px 45px rgba(0,0,0,.1);
}

.group .box:before{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #E8F9E4;
   transform: scaleY(0);
   transform-origin: top;
   transition: transform 0.5s;
}

.group .box:hover:before{
   transform: scaleY(1);
   transform-origin: bottom;
   transition: transform 0.5s;
}

.group .box h2{
   position: absolute;
   left: 40px;
   top: 60px;
   font-size: 4em;
   font-weight: 800;
   font-family: 'Poppins', sans-serif;
   z-index: 1;
   opacity: 0.1;
   transition: 0.5s;
}

.group .box:hover h2{
   opacity: 1;
   color: #000000;
   transform: translateY(-40px);
}

.group .box h3{
   position: relative;
   font-size: 2em;
   font-weight: bold;
   font-family: "Montserrat", sans-serif;
   z-index: 2;
   color: #333;
   transition: 0.5s;
}

.group .box p{
   position: relative;
   font-family: 'Lora', serif;
   z-index: 2;
   color: #555;
   transition: 0.5s;
}

@media only screen and (max-width: 900px){
   .group{
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .box{
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      text-align: center;
      margin: 20px;
      margin-bottom: 0;
   }
}
/* end of about us*/

/* advert 1*/
 .container1 {
   background-color: #f2e9e4;
   min-height: 90vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding-top: 5%;
   margin-bottom: 4%;
 }
 
 .container1 .ad_section .detail-box {
   padding-top: 20px;
   margin-left: 10vw;
   padding-bottom: 20%;
 }
 
 .container1 .ad_section .detail-box h1 {
   font-family: "Satisfy", cursive;
   font-size: 6vw;
   text-align: left;
   margin-bottom: 0.5rem;
   padding-top: 5rem;
 }
 
 .container1 .ad_section .detail-box p {
   font-family: "Lora", serif;
   font-size: 1.4vw;
   outline: none;
   border: none;
   text-decoration: none;
 }
 
 .container1 .ad_section .row {
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
 }
 
 .container1 .ad_section .detail-box .btn-box {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
 }
 
 .container1 .ad_section .detail-box .btn-box a {
   font-family: "Montserrat", sans-serif;
   font-weight: bold;
   font-size: 1.2vw;
   display: flex;
   padding: 0.9vw 3.6vw;
   background-color: #3a5a40;
   border: 1px solid #3a5a40;
   color: #ffffff;
   transition: transform 0.3s, -webkit-transform 0.3s;
   margin-top: 5%;
   text-decoration: none;
 }
 
 .container1 .ad_section .detail-box .btn-box a:hover {
   -webkit-transform: translateY(-3px);
   transform: translateY(-3px);
   -webkit-box-shadow: 0px 3px 4px 0 rgba(0, 0, 0, 0.2);
   box-shadow: 0px 3px 4px 0 rgba(0, 0, 0, 0.2);
 }
 
 .container1 .ad_section .img-box {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   /* justify-content: center;*/
   -webkit-transform: scale(1.07) translateY(-14px);
   transform: scale(1.07) translateY(-14px);
   padding-left: 8%;
 }
 
 .container1 .ad_section .img-box img {
   width: 72%;
   height: auto;
 }
 
 /* media queries 1 */
 @media only screen and (max-width: 770px) {
   .container1 {
     margin-bottom: 10%;
   }
 
   .container1 .ad_section .detail-box {
     padding-top: 20%;
     margin-left: 2vw;
     padding-bottom: 20%;
   }
 
   .container1 .ad_section .detail-box h1 {
     font-family: "Satisfy", cursive;
     font-size: 6.5vw;
     text-align: left;
     margin-bottom: 0.5rem;
     padding-top: 1rem;
   }
 
   .container1 .ad_section .detail-box p {
     font-family: "Lora", serif;
     font-size: 2vw;
     outline: none;
     border: none;
     text-decoration: none;
   }
 
   .container1 .ad_section .detail-box .btn-box a {
     font-family: "Montserrat", sans-serif;
     font-weight: bold;
     font-size: 3vw;
     display: flex;
     padding: 2.5vw 12vw;
     background-color: #3a5a40;
     border: 1px solid #3a5a40;
     color: #ffffff;
     transition: transform 0.3s, -webkit-transform 0.3s;
     margin-top: 5%;
   }
 
   .container1 .ad_section .img-box {
     display: flex;
     -webkit-box-pack: center;
     justify-content: center;
     transform: scale(1.07) translateY(-14px);
     padding-left: 0;
   }
 
   .container1 .ad_section .img-box img {
     width: 80%;
     height: auto;
   }
 }
 /* end of media queries 1 */
 /* end advert 1 */
 
 /* advert 2*/
 .container2 {
   background-color: #999;
   min-height: 50vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding-top: 0;
   margin-bottom: 4%;
 }
 
 .container2 .ad_section2 {
   padding: 0;
 }
 
 .container2 .ad_section2 .img-box {
   background-color: #386641;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   padding-left: 0;
 }
 
 .container2 .ad_section2 .img-box img {
   width: 100%;
   height: auto;
 }
 
 .container2 .ad_section2 .detail-box {
   background-color: #386641;
   padding-top: 7rem;
   padding-bottom: 2.4rem;
   padding-left: 3rem;
 }
 
 .container2 .ad_section2 .detail-box h1 {
   color: white;
   font-size: 4vw;
   font-weight: 100;
   text-align: left;
   margin-bottom: 0.5rem;
   padding-top: 0rem;
   padding-bottom: 1.1rem;
 }
 
 .container2 .ad_section2 .detail-box p {
   color: white;
   font-family: "Lora", serif;
   font-size: 1.4vw;
   outline: none;
   border: none;
   text-decoration: none;
   padding-right: 12vw;
 }
 
 .container2 .ad_section2 .detail-box .line2 {
   color: white;
   font-family: "Lora", serif;
   font-size: 1.4vw;
   outline: none;
   border: none;
   text-decoration: none;
   padding-top: 1vw;
   padding-right: 14vw;
 }
 
 /* button 2 */
 
 .container2 .ad_section2 .detail-box .btn-box {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   margin-bottom: 3rem;
 }
 
 .container2 .ad_section2 .detail-box .btn-box a {
   font-family: "Montserrat", sans-serif;
   font-weight: bold;
   font-size: 1.2vw;
   display: flex;
   padding: 0.9vw 3.6vw;
   background-color: #ffffff;
   border: 1px solid #ffffff;
   color: #000000;
   transition: transform 0.3s, -webkit-transform 0.3s;
   margin-top: 5%;
   text-decoration: none;
 }
 
 .container2 .ad_section2 .detail-box .btn-box a:hover {
   -webkit-transform: translateY(-3px);
   transform: translateY(-3px);
   -webkit-box-shadow: 0px 3px 4px 0 rgba(0, 0, 0, 0.2);
   box-shadow: 0px 3px 4px 0 rgba(0, 0, 0, 0.2);
 }
 
 /* media queries 2 */
 @media only screen and (max-width: 950px) {
   .container2 .ad_section2 .img-box img {
     width: 120%;
     height: auto;
   }
 }
 
 @media only screen and (max-width: 770px) {
   .container2 {
     background-color: #ffffff;
     min-height: 50vh;
     display: flex;
     align-items: center;
     justify-content: center;
     padding-top: 0;
     margin-bottom: 4%;
   }
 
   .container2 .ad_section2 .detail-box {
     background-color: #386641;
     padding-top: 3rem;
     padding-bottom: 0;
     padding-left: 1.5rem;
   }
 
   .container2 .ad_section2 .detail-box h1 {
     color: white;
     font-size: 5vw;
     font-weight: 100;
     text-align: left;
     margin-bottom: 0.5rem;
     padding-top: 0rem;
     padding-bottom: 1.1rem;
   }
 
   .container2 .ad_section2 .detail-box p {
     color: white;
     font-family: "Lora", serif;
     font-size: 2vw;
     outline: none;
     border: none;
     text-decoration: none;
     padding-right: 8vw;
   }
 
   .container2 .ad_section2 .detail-box .line2 {
     color: white;
     font-family: "Lora", serif;
     font-size: 2vw;
     outline: none;
     border: none;
     text-decoration: none;
     padding-top: 1vw;
     padding-right: 14vw;
   }
 
   .container2 .ad_section2 .detail-box .btn-box a {
     font-family: "Montserrat", sans-serif;
     font-weight: bold;
     font-size: 3vw;
     display: flex;
     padding: 2.5vw 12vw;
     background-color: #ffffff;
     border: 1px solid #ffffff;
     color: #000000;
     transition: transform 0.3s, -webkit-transform 0.3s;
     margin-top: 5%;
   }
 }
 /* end of media queries 2 */
/* end advert 2*/

/* login/signup */
.container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
}

.container .content{
   text-align: center;
}

.container .content h3{
   font-size: 30px;
   color:#333;
}

.container .content h3 span{
   background: #386641;
   color:#fff;
   border-radius: 5px;
   padding:0 15px;
}

.container .content h1{
   font-size: 50px;
   color:#333;
}

.container .content h1 span{
   color:#2F751D;
}

.container .content p{
   font-size: 25px;
   margin-bottom: 20px;
}

.container .content .btn{
   display: inline-block;
   padding:10px 30px;
   font-size: 20px;
   background: #333;
   color:#fff;
   margin:0 5px;
   text-transform: capitalize;
}

.container .content .btn:hover{
   background: #386641;
}

.form-container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
   background: #eee;
}

.form-container img {
   width: 100%;
   height: 100px;
}

.form-container form{
   padding:20px;
   border-radius: 5px;
   box-shadow: 0 5px 10px rgba(0,0,0,.1);
   background: #fff;
   text-align: center;
   width: 500px;
}

.form-container form h3{
   font-size: 30px;
   text-transform: uppercase;
   margin-bottom: 10px;
   color:#333;
}

.form-container form input,
.form-container form select{
   width: 100%;
   padding:10px 15px;
   font-size: 17px;
   margin:8px 0;
   background: #eee;
   border-radius: 5px;
}

.form-container form select option{
   background: #fff;
}

.form-container form .form-btn{
   background: #E8F9E4;
   color: #386641;
   text-transform: capitalize;
   font-size: 20px;
   cursor: pointer;
}

.form-container form .form-btn:hover{
   background: #386641;
   color:#fff;
}

.form-container form p{
   margin-top: 10px;
   font-size: 20px;
   color:#333;
}

.form-container form p a{
   color: #386641;
}

.form-container form .error-msg{
   margin:10px 0;
   display: block;
   background: crimson;
   color:#fff;
   border-radius: 5px;
   font-size: 20px;
   padding:10px;
}

/* end of login/signup */

.cart-container{
   margin:0 auto;
}

/* navigation bar */

.nav-buttons{
   margin-left: 34%;
}


.navbar{
   font-size: 16px;
   padding-top: 2rem !important;
   padding-bottom: 2rem !important;
   top: 0;
   left: 0;
   box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

.navbar .container-fluid img{
   max-width: 100%;
}

.navbar-white .navbar-nav .nav-link{
   padding: 0 20px;
   color: black;
   transition: 0.4s ease;  
}

.navbar-white .navbar-nav .nav-link:hover,
.navbar i:hover, 
.navbar-white .navbar-nav .nav-link.active
.navbar i:hover{
   color: #386641;
}

.navbar-white .navbar-nav a{
   color: black;
}

.navbar-white .navbar-nav span{
   padding: .45rem .35rem;
   border-radius: .5rem;
   background-color: #386641;
   color: white;
   font-size: 1rem;
}

.navbar i {
   font-size: 1.2rem;
   padding: 0 0.7px;
   transition: 0.4s ease;
   cursor: pointer;
   margin-left: 5px;
   margin-right: 15px;
}
/* end of navigation bar */

/* media queries 3 */
@media only screen and (max-width:990px) {

   .nav-buttons{
      margin: 10px;
   }

   .nav-buttons ul{
      margin: 1rem;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;
   }

   .nav-buttons .fas{
      margin: 20px 5px 10px 20px;
   }
}
/* end of media queries 3*/

/* footer */
.img-responsive {
   max-height: 30px;
   max-width: 10px;
   margin-left: 50%;
}

.navbar .icon{
   margin-left: 56%;
}

footer {
	background: #101010;
	padding: 86px;
}
.single-content {
	text-align: center;
	padding: 115px 0;
}
.single-box p {
	color: #fff;
	line-height: 1.9;
}
.single-box h3 {
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}
.single-box .card-area i {
	color: #ffffff;
	font-size: 20px;
	margin-right: 10px;
}
.single-box ul {
	list-style: none;
	padding: 0;
}
.single-box ul li a {
	text-decoration: none;
	color: #fff;
	line-height: 2.5;
	font-weight: 100;
}
.single-box h2 {
	color: #fff;
	font-size: 20px;
	font-weight: 700;
}
#basic-addon2 {
	background: #fe1e4f;
	color: #fff;
}
.socials i {
	font-size: 18px;
	margin-right: 15px;
}

.socials a{
   color: white;
}

.socials a .fb:hover{
   color: #3b5998;
   transition: 0.4s ease;
}

.socials a .twt:hover{
   color: #00acee;
   transition: 0.4s ease;
}

.socials a .ig:hover{
   background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
   transition: 0.4s ease;
}

.socials a .yt:hover{
   color: #c4302b;
   transition: 0.4s ease;
}
/* footer */

/* media queries 4 */
@media (max-width: 767px) {
	.single-box {
		margin-bottom: 50px;
	}

   .navbar-toggler {
      margin-right: 5%;
   }

   .product-table{
      overflow-x: scroll;
   }

   .product-table table{
      width: 70rem;
   }

   .products .box-container{
      grid-template-columns: 1fr;
   }

   footer{
      width: 105.5vw;
   }
}

@media (max-width: 1200px){
   .food-cart{
      overflow-x: scroll;
   }

   .food-cart table{
      width: 120rem;
   }

   .food-cart .heading{
      text-align: left;
   }

   .food-cart .checkout-btn{
      text-align: left;
   }
}

@media (min-width: 768px) and (max-width: 991px) {
	.single-box {
		margin-bottom: 50px;
	}
}
/* end of media queries 4 */

/* menu */
.first{
   padding-left: 5%;
}

.second {
   padding-left: 7.5%;
}

.second a:hover{
   color: #386641;
   transition: 0.4s ease;
}

.third {
   padding-left: 7.5%;
}

.third a:hover{
   color: #386641;
   transition: 0.4s ease;
}

.fourth{
   padding-left: 7.5%;
}

.menu-container{
   max-width: 1700px;
   margin:0 auto;
   align-items: center;
   justify-content: center;
   padding-bottom: 60px;
}

.heading{
   text-align: center;
   font-size: 3.5rem;
   text-transform: uppercase;
   color: #333;
   margin-top: 7.5rem;
   margin-bottom: 2rem;
}

section {
   padding: 2rem;
}
/* end of menu */

/* button styling */
.btn,
.option-btn,
.delete-btn{
   display: block;
   width: 100%;
   text-align: center;
   background-color: #386641;
   color: white;
   font-size: 1.7rem;
   padding: 1.2rem 3rem;
   border-radius: .5rem;
   cursor: pointer;
   margin-top: 1rem;
}

.btn:hover,
.option-btn:hover,
.delete-btn:hover{
   background-color: #234129;
   color: white;
   transition: 0.4s ease;
}

.option-btn{
   background-color: #386641;
}

.delete-btn{
   margin-top: 0;
   background-color: #c4302b;
}

.option-btn:hover,
.delete-btn:hover{
   background-color: #333;
   transition: 0.4s ease;
}

.option-btn i,
.delete-btn i{
   padding-right: .5rem;
}
/* end of button styling */

/* admin_index page + message alert styling */
.product-container a{
   text-decoration: none;
}

.message{
   background-color: #386641;
   position: sticky;
   top: 0; left: 0;
   z-index: 10000;
   border-radius: .5rem;
   background-color: white;
   padding: 1.5rem 2rem;
   margin: 0 auto;
   max-width: 1200px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 1.5rem;
}

.message span{
   font-size: 2rem;
   color: black;
}

.message i{
   font-size: 2.5rem;
   color: black;
   cursor: pointer;
}

.message i:hover{
   color: #c4302b;
}

.add-product-form{
   max-width: 50rem;
   background-color: #e9e9e9;
   border-radius: .5rem;
   padding: 2rem;
   margin: 0 auto;
   margin-top: 2rem;
}

.add-product-form h3{
   font-size: 2.5rem;
   margin-bottom: 1rem;
   color: black;
   text-transform: uppercase;
   text-align: center;
}

.add-product-form .box{
   text-transform: none;
   padding: 1.2rem 1.4rem;
   font-size: 1.7rem;
   color: black;
   border-radius: .5rem;
   background-color: white;
   margin: 1rem 0;
   width: 100%;
}

.product-container{
   max-width: 1600px;
   margin: 0 auto;
   margin-top: -2rem;
   margin-bottom: 10rem;
}

.product-table table{
   width: 100%;
   text-align: center;
}

.product-table table thead th{
   padding: 1.5rem;
   font-size: 2rem;
   background-color: #386641;
   color: white;
}

.product-table table td{
   padding: 1.5rem;
   font-size: 2rem;
   color: #333;
}

.product-table .second-data{
   width: 30%;
}

.product-table .third-data{
   width: 20%;
}

.product-table .fourth-data{
   width: 30%;
}

.product-table table td:first-child{
   padding: 0;
}

.product-table table tr:nth-child(even){
   background-color: #ebebeb;
}

.product-table .empty {
   margin-bottom: 2rem;
   text-align: center;
   background-color: #ebebeb;
   color: #333;
   font-size: 2rem;
   padding: 1.5rem;
}

.product-table .option-btn:hover{
   background-color: #234129;
   transition: 0.4s ease;
}

.product-table .delete-btn:hover{
   background-color: #801e1b;
   transition: 0.4s ease;
}

.edit-form-container{
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1100;
   background-color: rgba(0,0,0,.7);
   padding: 2rem;
   display: none;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   width: 100%;
}

.edit-form-container form{
   width: 50rem;
   border-radius: .5rem;
   background-color: #fff;
   text-align: center;
   padding: 2rem;
}

.edit-form-container form .box{
   width: 100%;
   background-color: #eee;
   border-radius: .5rem;
   margin: 1rem 0;
   font-size: 1.7rem;
   color: #333;
   padding: 1.2rem 1.4rem;
   text-transform: none;
}

.edit-form-container form .option-btn{
   background-color: #c4302b;
}

.edit-form-container form .option-btn:hover{
   background-color: #333;
   transition: 0.4s ease;
}
/* end of admin_index page + message alert styling */

/* menu page products styling */
.products .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 33rem);
   gap: 1.5rem;
   justify-content: center;
}

.products .box-container .box{
   text-align: center;
   padding: 2rem;
   padding-bottom: 8rem;
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
   border: .1rem solid #386641;
   height: 100%;
   background-color: #eee;
}

.products .box-container .box h3{
   font-weight: bolder;
}

 .products .box-container .box img{
   height: 20rem;
   max-width: 100%;
} 

.products .box-container .box h3{
   margin: 2rem 0;
   font-size: 2rem;
   color: #333;
}

.products .box-container .btnz .btn{
   margin-top: -15%;
   border-radius: 0%;
   background-color: #386641;
}

.products .box-container .btnz .btn:hover{
   background-color: #234129;
   transition: 0.4s ease;
}

.products .box-container .box .price{
   font-size: 2rem;
   color: #333;
}
/* end of menu page products styling */

/* shopping cart styling */
.food-cart{
   max-width: 1700px;
   margin: 0 auto;
}

.food-cart a{
   text-decoration: none;
}

.food-cart table{
   text-align: center;
   width: 100%;
}

.food-cart table thead th{
   padding: 1.5rem;
   font-size: 2rem;
   color: #fff;
   background-color: #386641;
}

.food-cart table tr td{
   border-bottom: .1rem solid #999;
   padding-top: 1.5rem;
   padding-bottom: 1.5rem;
   font-size: 2rem;
   color: #333;
}

.food-cart table input[type="number"]{
   border: .1rem solid #999;
   padding: .45rem 1rem;
   font-size: 2rem;
   color: #333;   
   width: 4rem;
}

.food-cart table input[type="submit"]{
   padding: .5rem 1.25rem;
   cursor: pointer;
   font-size: 2rem;
   background-color: #386641;
   color: #fff;
}

.food-cart table input[type="submit"]:hover{
   background-color: #234129;
   transition: 0.4s ease;
}

.food-cart .two{
   width: 20%;
}

.food-cart .four{
   width: 15%;
}

.food-cart .six{
   width: 20%;
}

.food-cart .tbot .btn{
   max-width: 85%;
}

.food-cart .btn{
   margin-left: 10%;
   width: 100%;
}

.food-cart .delete-btn{
   margin-left: 2.5%;
   margin-right: 5%;
   width: 90%;
}

.food-cart .delete-btn:hover{
   background-color: #801e1b;
   transition: 0.4s ease;
}

.food-cart table .tbot{
   background-color: #eee;
}

.food-cart .checkout-btn{
   display: inline-block;
   width: auto;
   margin-left: 35%;
}

.food-cart .checkout-btn a{
   background-color: #CAAD61;
   margin-top: 10%;
   margin-bottom: 10%;
}

.food-cart .checkout-btn a:hover{
   background-color: #aa9151;
   transition: 0.4s ease;
}

.food-cart .checkout-btn a.disabled{
   pointer-events: none;
   opacity: .5;
   user-select: none;
   background-color: #CAAD61;
   border: none;
   color: #fff;
   padding: 1rem 2rem;
   
}
/* end of shopping cart styling */

/* checkout page styling */
.checkout{
   padding:2.5rem 2rem;
   max-width: 1800px;
   margin: 0 auto;
   margin-bottom: 5%;
}

.checkout .row{
   display: flex;
   gap: 1.5rem;
   flex-wrap: wrap;
   align-items: flex-start;
}

.checkout .row .btn{
   background-color: #CAAD61;
}

.checkout .row .btn:hover{
   background-color: #aa9151;
   transition: 0.4s ease;
}

.checkout .row form{
   background-color: #fff;
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
   border: .1rem solid #999;
   border-radius: .5rem;
   padding: 2rem;
   flex: 1 1 50rem;
}

.checkout .row form h3{
   font-size: 2.5rem;
   color: #333;
   text-transform: capitalize;
   padding-bottom: 1rem;
   text-align: center;
}

.checkout .row form .flex{
   display: flex;
   column-gap: 1rem;
   flex-wrap: wrap;
}

.checkout .row form .flex .box{
   flex: 1 1 25rem;
}

.checkout .row form .flex .box p{
   padding-top: 1rem;
   font-size: 1.6rem;
   color: #666;
}

.checkout .row form .flex .box p span{
   color: #e74c3c;
}

.checkout .row form .flex .box .input{
   width: 100%;
   margin: 1rem 0;
   background-color: #eee;
   border-radius: .5rem;
   padding: 1.4rem;
   font-size: 1.8rem;
   color: #333;
}

.checkout .row .summary{
   flex: 1 1 30rem;
   background-color: #fff;
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
   border: .1rem solid #999;
   border-radius: .5rem;
   padding: 2rem;
}

.checkout .row .summary .title{
   font-size: 2rem;
   color: #666;
   border-bottom: .1rem solid rgba(0,0,0,.3);
   padding-bottom: 1.5rem;
   margin-bottom: .5rem;
   text-transform: capitalize;
}

.checkout .row .summary .flex{
   display: flex;
   align-items: center;
   gap: 2rem;
   margin: 1rem 0;
   overflow-x: hidden;
}

.checkout .row .summary .flex img{
   height: 8rem;
   width: 8rem;
   object-fit: contain;
}

.checkout .row .summary .flex .name{
   font-size: 2rem;
   color: #333;
   padding-bottom: .5rem;
   text-transform: capitalize;
   overflow-x: hidden;
   text-overflow: ellipsis;
}

.checkout .row .summary .flex .price{
   font-size: 1.7rem;
   color: #386641;
}

.checkout .row .summary .grand-total{
   margin-top: 1rem;
   background-color: #eee;
   border-radius: .5rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1rem 1.8rem;
   font-size: 2rem;
   color: #386641;
   text-transform: capitalize;
}

.checkout .row .summary .grand-total span{
   color: #666;
}
/* end of checkout page styling */

/* orders page styling */
.order-message-container{
   position: fixed;
   top:0; left:0;
   height: 100vh;
   overflow-y: scroll;
   overflow-x: hidden;
   padding:2rem;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 1100;
   background-color: rgba(0,0,0,.7);
   width: 100%;
}

.order-message-container::-webkit-scrollbar{
   width: 1rem;
}

.order-message-container::-webkit-scrollbar-track{
   background-color: rgba(0,0,0,.7);
}

.order-message-container::-webkit-scrollbar-thumb{
   background-color: #386641;
}

.order-message-container .message-container{
   width: 50rem;
   background-color: #fff;
   border-radius: .5rem;
   padding:2rem;
   text-align: center;
   margin-top: 40%;
   margin-bottom: 5%;
}

.order-message-container .message-container .btn{
   background-color: #CAAD61;
}

.order-message-container .message-container .btn:hover{
   background-color: #aa9151;
   transition: 0.4s ease;
}

.order-message-container .message-container h3{
   font-size: 2.5rem;
   color: #386641;
   font-weight: 900;
}

.order-message-container .message-container h4{
   font-size: 1.5rem;
   color: #333;
}

.order-message-container .message-container .order-detail{
   background-color: #eee;
   border-radius: .5rem;
   padding: 1rem;
   margin: 1rem 0;
}

.order-message-container .message-container .order-detail span{
   background-color: #fff;
   border-radius: .5rem;
   color: #333;
   font-size: 2rem;
   display: inline-block;
   padding:1rem 1.5rem;
   margin:1rem;
}

.order-message-container .message-container .order-detail span.total{
   display: block;
   background: #386641;
   color: #fff;
}

.order-message-container .message-container .customer-details{
   margin:1.5rem 0;
}

.order-message-container .message-container .customer-details p{
   padding:1rem 0;
   font-size: 2rem;
   color: #386641;
   text-align: left;
   font-weight: bolder;
}

.order-message-container .message-container .customer-details p span{
   color: #333;
   padding:0 .5rem;
   text-align: left;
   text-transform: none;
   font-weight: 400;
}

.order-message-container .message-container .customer-details .btn{
   background-color: #CAAD61;
   color: #fff;
}

.order-message-container .message-container .customer-details .btn:hover{
   background-color: #caac61af;
   color: #fff;
}

.order-container{
   max-width: 1700px;
   margin: 0 auto;
}

.order-container .order-table{
   margin-top: 10%;
}

.order-table table{
   width: 100%;
   text-align: center;
   border-spacing: 1rem;
}

.order-table .first-data{
   width: 30%;
}

.order-table .second-data{
   width: 20%;
}

.order-table .third-data{
   width: 10%;
}

.order-table .fourth-data{
   width: 20%;
}

.order-table table thead th{
   padding: 1.5rem;
   font-size: 1.5rem;
   background-color: #386641;
   color: white;
}

.order-table table td{
   padding: 2rem;
   font-size: 1.5rem;
   color: #333;
}

.order-table table td p{
   padding-left: 10%;
   text-align: left;
}

.order-table table td span{
   color: #386641;
   font-weight: bolder;
}

.order-table table a{
   text-decoration: none;
}

.order-table table td:first-child{
   padding: 0;
}

.order-table table tr:nth-child(even){
   background-color: #ebebeb;
}

.order-table .empty {
   margin-bottom: 2rem;
   text-align: center;
   background-color: #ebebeb;
   color: #333;
   font-size: 2rem;
   padding: 1.5rem;
}

.order-table .option-btn:hover{
   background-color: #234129;
   transition: 0.4s ease;
}

.order-table .delete-btn:hover{
   background-color: #801e1b;
   transition: 0.4s ease;
}
/* end of orders page styling */
